@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
   font-family: 'Inter', sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   color: #637381;
}

.wrapper {
   overflow: clip;
   min-height: 100%;
}

h2 {
   font-size: 20px;
   text-align: center;
   margin-bottom: 10px;
}

[class*="__container"] {
   max-width: 1200px;
   padding: 15px;
   margin: 30px auto;
}

[class*="__block-"] {
   width: 400px;
   height: 400px;
   border: 1px solid blue;
   margin: 0 auto;
   position: relative;
   margin-bottom: 20px;
}

.background {
   background-color: grey;
   width: 200px;
   height: 200px;
   position: absolute;
   top: 100px;
   left: 100px;
}

.item {
   background-color: lightgreen;
   width: 200px;
   height: 200px;
   position: absolute;
   top: 100px;
   left: 100px;
}

.subitem {
   background-color: lightcoral;
   width: 100px;
   height: 100px;
   position: absolute;
   top: 300px;
   left: 300px;
}

.translate__item:hover {
   transform: translate(50px, 50px);
   transition: all 0.8s;
}

.scale__item {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 150px;
   left: 150px;
}

.scale__item:hover {
   transform: scale(3);
   transition: all 0.8s;
}

.rotate__item:hover {
   transform: rotate(-360deg);
   transition: all 1.5s;
}

.rotate__subitem {
   position: absolute;
   top: 150px;
   left: 0px;
}

.skew__item:hover {
   transform: skew(30deg, 30deg);
   transition: all 0.8s;
}

.massive__item:hover {
   transform: translate(-80px, -80px) scale(1.7) rotate(360deg);
   transition: all 1.5s;
}

.massive__subitem {
   position: absolute;
   top: 0px;
   left: 0px;
}

.massive__item_transform-origin:hover {
   transform: translate(-80px, -80px) scale(1.7) rotate(360deg);
   transition: all 1.5s;
   transform-origin: 0 0;
}

.item p {
   font-size: 24px;
   text-align: center;
}

[class*="__block3D-"] {
   width: 400px;
   height: 400px;
   border: 1px solid blue;
   margin: 0 auto;
   position: relative;
   margin-bottom: 20px;
   perspective: 300px;
}

.translate3D__item:hover {
   transform: translate3d(40px, 40px, 70px);
   transition: all 0.8s;
}

.scale3D__item {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 150px;
   left: 150px;
}

.scale3D__subitem {
   position: absolute;
   top: 300px;
   left: 150px;
}

.scale3D__item:hover {
   transform: scale3d(2, 3, 1);
   transition: all 0.8s;
}

.rotate3D__item:hover {
   transform: rotate3d(1, 2, -1, 192deg);
   transition: all 1.5s;
}

.rotate3D__subitem {
   position: absolute;
   top: 250px;
   left: 150px;
}

.massive-transform3D__item {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 150px;
   left: 150px;
}

.massive-transform3D__item:hover {
   transform: translate3d(40px, 40px, 70px) scale3d(2, 3, 1) rotate3d(1, 2, -1, 360deg);
   transition: all 1.5s;
}

.transform__block3D-style {
   transform-style: preserve-3d;
}

.style3D__background {
   background-color: rgba(211, 211, 211, 0.5);
}

.style3D__item:hover {
   transform: rotate3d(1, 0, 0, 55deg);
   transition: all 1.2s;
}

.style3D__subitem {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 150px;
   left: 300px;
}

.backface-visibility3D__item:hover {
   transform: rotate3d(0, 1, 0, 360deg);
   transition: all 1.8s;
   backface-visibility: hidden;
}

.himars__container {
   padding-bottom: 100px;
}
.himars__picture {
   margin: 0 auto;
   background: url(../img/bg-image.jpg) 0 0 / cover no-repeat;
   width: 1200px;
   height: 750px;
   position: relative;
}
.himars__vechicle {
   position: absolute;
   top: 620px;
   left: 45px;
   z-index: 5;
}
.himars__chassis {
   position: relative;
}

.himars__vechicle:hover .wheel__tire {
   transform: rotate(1000deg);
   transition: all 5s;
}

.himars__vechicle:hover .himars__lightning {
   background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(211,211,211,1) 100%);
}

.himars__vechicle:hover .base__lightning {
   background: radial-gradient(circle, rgba(255,255,0,1) 0%,  rgba(211,211,211,1) 100%);
}


.wheel__tire {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   border: 7px dashed black;
}

.wheel__body {
   position: relative;
   width: 86px;
   height: 86px;
   border-radius: 50%;
   background-color: darkgray;
}

.wheel__center {
   position: absolute;
   top: 28px;
   left: 28px;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: slategrey;
}

.himars__casing-1 {
   position: relative;
   width: 740px;
   height: 45px;
   background-color: darkolivegreen;
}

.himars__lightning {
   height: 45px;
   width: 80px;
   position: absolute;
   top: 0;
   left: -40px;
   z-index: -5;
}

.himars__back-light {
   width: 15px;
   height: 25px;
   background-color: red;
   border-radius: 7px/12px;
   position: relative;
   top: 10px;
   left: 33px;
}

.himars__casing-2 {
   width: 720px;
   height: 30px;
   background-color: rgb(82, 85, 78);
   position: absolute;
   top: 45px;
   left: 20px;
}

.himars__tank-1 {
   width: 120px;
   height: 50px;
   background-color: rgb(49, 66, 27);
   position: absolute;
   top: 15px;
   left: 320px;
}

.himars__tank-2 {
   width: 110px;
   height: 60px;
   background-color: rgb(49, 66, 27);
   position: absolute;
   top: 8px;
   left: 470px;
}

.himars__box-1 {
   width: 75px;
   height: 75px;
   background-color: darkolivegreen;
   position: absolute;
   top: -75px;
   left: 450px;
}

.himars__box-2 {
   width: 50px;
   height: 100px;
   background-color: darkolivegreen;
   position: absolute;
   top: -100px;
   left: 525px;
}

.himars__box-3 {
   width: 40px;
   height: 15px;
   background-color: darkolivegreen;
   position: absolute;
   top: -115px;
   left: 530px;
}

.himars__box-4 {
   width: 15px;
   height: 40px;
   background-color: darkolivegreen;
   position: absolute;
   top: -155px;
   left: 545px;
}

.himars__stand-1 {
   width: 270px;
   height: 20px;
   background-color: darkolivegreen;
   position: absolute;
   top: -20px;
   left: 40px;
}

.himars__stand-2 {
   width: 30px;
   height: 75px;
   transform: skew(60deg);
   background-color: darkolivegreen;
   position: absolute;
   top: -95px;
   left: 190px;
}

.himars__wheel_1 {
   position: absolute;
   top: 10px;
   left: 40px;
}

.himars__wheel_2 {
   position: absolute;
   top: 10px;
   left: 190px;
}

.himars__wheel_3 {
   position: absolute;
   top: 10px;
   left: 600px;
}

.himars__rockets {
   position: absolute;
   top: -130px;
   left: 41px;
}

.himars__vechicle:hover .himars__rockets {
   transform: rotate(-30deg);
   transition: all 2s;
   transform-origin: 6px 105px;
}

.rockets__block {
   width: 370px;
   height: 110px;
   background-color: darkolivegreen;

}

.rockets__bracket {
   width: 80px;
   height: 30px;
   background-color: darkolivegreen;
   position: absolute;
   top: 0;
   left: 370px;
}

.pin {
   width: 20px;
   height: 40px;
   background-color: darkolivegreen;
}

.rockets__pin-1 {
   position: absolute;
   top: -40px;
   left: 430px;
}

.rockets__pin-2 {
   position: absolute;
   top: -40px;
   left: 390px;
}

.himars__cabin {
   position: absolute;
   top: -150px;
   left: 576px;
}

.cabin__base {
   position: relative;
}

.base__square-1 {
   width: 160px;
   height: 70px;
   background-color: darkolivegreen;
}

.base__triangle-1 {
   width: 0;
   height: 0;
   border-bottom: 70px solid darkolivegreen;
   border-right: 45px solid transparent;
   position: absolute;
   top: 0;
   left: 160px;
}

.base__square-2 {
   width: 205px;
   height: 80px;
   background-color: darkolivegreen;
}

.base__triangle-2 {
   width: 0;
   height: 0;
   border-top: 60px solid darkolivegreen;
   border-left: 40px solid transparent;
   position: absolute;
   top: 150px;
   left: 105px;
}

.base__square-3 {
   width: 60px;
   height: 60px;
   background-color: darkolivegreen;
   position: absolute;
   top: 150px;
   left: 145px;
}

.base__square-4 {
   width: 20px;
   height: 45px;
   background-color: darkolivegreen;
   position: absolute;
   top: 165px;
   left: 205px;
}

.base__lightning {
   height: 45px;
   width: 80px;
   position: absolute;
   top: 0;
   left: -20px;
   z-index: -5;
}

.base__front-light {
   width: 15px;
   height: 25px;
   background-color: yellow;
   border-radius: 7px/12px;
   position: relative;
   top: 10px;
   left: 30px;
}

.cabin__door {
   position: absolute;
   top: 25px;
   left: 90px;
}

.door__square-1 {
   width: 80px;
   height: 100px;
   background-color: rgb(58, 88, 7);
}

.door__window {
   width: 50px;
   height: 40px;
   background-color: lightblue;
   position: relative;
   top: 20px;
   left: 15px;
}

.door__triangle {
   width: 0;
   height: 0;
   border-top: 47px solid rgb(58, 88, 7);
   border-left: 30px solid transparent;
}

.door__square-2 {
   width: 50px;
   height: 47px;
   background-color: rgb(58, 88, 7);
   position: absolute;
   top: 100px;
   left: 30px;
}