@font-face {
   font-family: 'Arsenal';
   src: url('../fonts/Arsenal-Bold.woff2') format('woff2'),
       url('../fonts/Arsenal-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Arsenal';
   src: url('../fonts/Arsenal-Regular.woff2') format('woff2'),
       url('../fonts/Arsenal-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Bitter';
   src: url('../fonts/Bitter-Regular.woff2') format('woff2'),
       url('../fonts/Bitter-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Bitter';
   src: url('../fonts/Bitter-Light.woff2') format('woff2'),
       url('../fonts/Bitter-Light.woff') format('woff');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Bitter';
   src: url('../fonts/Bitter-Bold.woff2') format('woff2'),
       url('../fonts/Bitter-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Comfortaa';
   src: url('../fonts/Comfortaa-Light.woff2') format('woff2'),
       url('../fonts/Comfortaa-Light.woff') format('woff');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Comfortaa';
   src: url('../fonts/Comfortaa-Bold.woff2') format('woff2'),
       url('../fonts/Comfortaa-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Comfortaa';
   src: url('../fonts/Comfortaa-Regular.woff2') format('woff2'),
       url('../fonts/Comfortaa-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
