.title {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   color: #000000;
   text-transform: uppercase;
   padding-right: 26px;
   position: relative;
}

.title::after {
   content: "";
   display: inline-block;
   position: absolute;
   top: 11px;
   left: 132px;
   height: 2px;
   width: 38%;
   background-color:#000000;
}

.title-section {
   font-size: 56px;
   line-height: 1.4;
   font-weight: 700;
   color: #000000;
}

.section-description {
   max-width: 43%;
   color: #000000;
   text-align: center;
}

.title-subsection {
   font-size: 24px;
   line-height: 1.4;
   font-weight: 600;
   color: #333333;
}