@import url("reset.css");
@import url("common.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');


body {
   font-family: 'Inter', sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   color: #637381;
}

.wrapper {
   overflow: clip;
   min-height: 100%;
}

[class*="__container"] {
   max-width: 730px;
   padding: 0 15px;
   margin: 0 auto;
}

[class*="__section"] {
   margin-bottom: 60px;
}

.lesson-form {
   padding-top: 50px;
   padding-left: 30px;
   padding-bottom: 50px;
   background-color: #ddd9d9;
}

h2 {
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 30px;
}

.lesson-form__line:not(:last-child){
   margin-bottom: 20px;
}

.lesson-form__submit {
   display: inline-block;
   padding: 5px 10px;
   background-color: lightgreen;
   border-radius: 8px;
   margin-right: 10px;
}

.name-form {
   padding-left: 120px;
}

.label-input {
   margin-right: 10px;
   display: inline-block;
   min-width: 25%;
}

.required label:after {
   content: "*";
   color: red;
}

.radio__title:after {
   content: "*";
   color: red;
}

.message__lesson {
   resize: vertical;
   width: 240px;
}

.list-lesson__hours {
   width: 240px;
}

.checkbox {
   position: relative;
}

.checkbox__input {
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 0;
   opacity: 0;
}

.checkbox__input:focus-visible + .checkbox__label {
   outline: 2px solid #000;
   border-radius: 5px;
}

.checkbox__input:checked + .checkbox__label::after {
   background-color: lightgreen;
}

.checkbox__label {
   cursor: pointer;
   display: inline-flex;
   align-items: center;
   gap: 8px;
}

.checkbox__label::after {
   content: "";
   flex: 0 0 13px;
   width: 13px;
   height: 13px;
   background-color: lightcoral;
}

.radio__division {
   position: relative;
}

.radio__input {
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 0;
   opacity: 0;
}

.radio__input:focus-visible + .radio__label {
   outline: 2px solid #000;
   border-radius: 5px;
}

.radio__input:checked + .radio__label::after {
   background-color: lightgreen;
}

.radio__label {
   margin-left: 210px;
   width: 120px;
   cursor: pointer;
   display: inline-flex;
   align-items: center;
   justify-content: space-between;
}

.radio__label::after {
   content: "";
   flex: 0 0 10px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: lightcoral;
}

/* ----------- BILLING ----------- */

.billing__title {
   font-size: 24px;
   font-weight: 700;
   line-height: 1.25;
   color: #212B36;
   padding-top: 50px;
   margin-bottom: 30px;
}

.billing__form {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   row-gap: 30px;
}

.billing__form:not(:last-child) {
   margin-bottom: 35px;
}

.billing__item {
   flex: 0 0 336px;
}

.billing__text-area {
   flex-basis: 100%;
}

.billing__text-area textarea {
   resize: vertical;
   min-height: 180px;
}

.billing__input {
   padding: 15px 0 15px 25px;
   border: 1px solid #E7E7E7;
   border-radius: 7px;
   width: 100%;
}

.billing__input:focus {
   outline: 1px solid #3056D3;
}

.billing__item select{
   font-family: inherit;
   font-weight: inherit;
   font-size: inherit;
   line-height: inherit;
   color:inherit;
}

.billing__checkbox:not(:last-child) {
   margin-bottom: 55px;
}

.checkbox__item:not(:last-child) {
   margin-bottom: 25px;
} 

.checkbox__input {
   position: relative;
}

.checkbox__check {
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 0;
   opacity: 0;
}

.checkbox__check:focus-visible + .checkbox__title {
   outline: 1px solid #3056D3;
   border-radius: 5px;
}

.checkbox__check:checked + .checkbox__title::before {
   background: url("../img/icons/checked.svg") center center no-repeat;
}

.checkbox__title {
   cursor: pointer;
   display: inline-flex;
   align-items: center;
   gap: 14px;
}

.checkbox__title::before {
   content: "";
   flex: 0 0 22px;
   width: 22px;
   height: 22px;
   border-radius: 4px;
   border: 0.7px solid #E7E7E7;
}

.coupon__title {
   font-size: 20px;
   font-weight: 600;
   line-height: 1.3;
   color: #212B36;
}

.coupon__title:not(:last-child) {
   margin-bottom: 25px;
}

.coupon__form {
   display: flex;
   flex-wrap: wrap;
   column-gap: 20px;
}

.coupon__code {
   flex: 0 0 325px;
}

.coupon__button {
   padding: 12px 22px;
   font-weight: 600;
   background-color: #212B36;
   color: #fff;
   border-radius: 7px;
   transition: all 0.3s;
}

.coupon__button:hover {
   background-color: #fff;
   color: #212B36;
   outline: 1px solid #212B36;
}

/* ----------- SHIPPING ----------- */

.shipping__container {
   max-width: 636px;
   margin: 0 auto;
   padding: 0 15px 30px 15px;
}

.shipping__block {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.25;
   color: #3F3F3F;
}

.shipping__block:not(:last-child) {
   margin-bottom: 40px;
}

.shipping__title {
   font-family: 'Oswald', sans-serif;
   font-size: 24px;
   font-weight: 400;
   line-height: 2.8;
   color: #000;
}

.title-address {
   margin-bottom: 34px;
}

.shipping__authorization {
   display: flex;
   flex-direction: column;
   row-gap: 25px;
}

.shipping__item {
   display: flex;
   justify-content: space-between;
   align-items: start;
}

.shipping__label {
   padding-top: 7px;
}

.shipping__input {
   flex: 0 0 451px;
   padding: 15px;
   border: 1px solid #C4C4C4;
}

.shipping__input::placeholder {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.25;
   color: #3F3F3F;
}

.shipping__input:focus {
   outline: 1px solid #3056D3;
}

.shipping__text {
   font-size: 14px;
   line-height: 1.4;
   color: #828282;
   margin-top: -11px;
}

.shipping__login {
   display: flex;
   column-gap: 25px;
}

.shipping__button {
   text-transform: uppercase;
   letter-spacing: 0.8px;
   font-family: 'Oswald', sans-serif;
   font-size: 14px;
   font-weight: 500;
   line-height: 1.5;
   color: #fff;
   padding: 15px 42px;
   background-color: #000;
   transition: all 0.3s;
}

.shipping__button:hover {
   background-color: #fff;
   color: #000;
   outline: 1px solid #000;
}

.shipping__link {
   color: #0F6DB1;
   align-self: center;
   transition: all 0.3s;
}

.shipping__link:hover {
   color: #000;
}

.shipping__login {
   padding-bottom: 36px;
   border-bottom: 1px solid #C4C4C4;
}

.shipping__form {
   display: flex;
   flex-direction: column;
   row-gap: 24px;
}

.shipping__form:not(:last-child) {
   margin-bottom: 46px;
}

.additional {
   justify-content: flex-end;
}

.shipping__item select{
   font-family: inherit;
   font-weight: inherit;
   font-size: inherit;
   line-height: inherit;
   color:inherit;
}

.title-methods {
   padding-bottom: 40px;
   border-bottom: 1px solid #C4C4C4;
}

.shipping__methods:not(:last-child) {
   margin-bottom: 24px;
}

.methods__item {
   display: flex;
   padding: 15px 0;
   gap: 65px;
   width: 443px;
}

.methods__item:not(:last-child) {
   border-bottom: 1px solid #C4C4C4;
}

.methods__radio {
   position: relative;
   flex: 0 0 120px;
}

.radio-method__label {
   cursor: pointer;
   display: inline-flex;
   align-items: center;
   gap: 13px;
   font-size: 14px;
   font-weight: 500;
   line-height: 1.4;
   color: #828282;
}

.radio-method__label::before {
   content: "";
   flex: 0 0 10px;
   width: 10px;
   height: 10px;
   border: 1px solid #828282;
   border-radius: 50%;
   right: 13px;
}

.radio-method__input {
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 0;
   opacity: 0;
}

.radio-method__input:focus-visible + .radio-method__label {
   outline: 1px solid #3056D3;
}

.radio-method__input:checked + .radio-method__label::before {
   border: 3px solid #000;
}

.radio-method__input:checked + .radio-method__label {
   color: #000;
}

.methods__type {
   flex: 0 0 70px;
   font-size: 14px;
   line-height: 1.4;
}

.methods__description {
   font-size: 14px;
   line-height: 1.4;
   flex: 0 0 60px;
}

.shipping__accept {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.shipping__page-back {
   font-family: 'Oswald', sans-serif;
   font-size: 14px;
   font-weight: 500;
   line-height: 1.5;
   color: #828282;
   text-transform: uppercase;
   transition: all 0.3s;
}

.shipping__page-back:hover {
   color: #0F6DB1;
   text-decoration: underline;
}
